.Services{
    background-color: #fff;
    padding: 5rem 12rem 0 ; 
}

.Services h1{
    margin-bottom: 2rem;
}
.Services h3{
    margin-bottom: 1rem;
}
.Services h4{
    margin: 5%;
}
.Services p{
    margin-bottom: 2rem;
}

.service-items {
    display: flex; /* Establece el contenedor como un contenedor flexible */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola fila */
    margin: 0 -2.3%  ;
    padding-top: 1rem;
}
.service-item{
    width: calc(29% ); /* 33.33% de ancho para mostrar 3 elementos en una fila, y 20px de margen entre los elementos */
    text-align: center; /* Centra el contenido dentro de cada elemento */
    margin: 1em; /* Ajusta el margen entre los elementos según tus necesidades */
}
.service-item p{
    padding: 0 5% ;
    margin-bottom: 0;
}


.cel{
    fill: drakgray;
}

.creative{
    fill: orangered;
    transition: fill 0.5s ease;
}
.deve{
    fill: green;
    stroke: green; /* Color del trazo */
    stroke-width: 1;
}
.access{
    fill: red;
}
.perfor{
    fill: darkorange;
}
.seo{
    fill: blue;
}

@media screen and (max-width: 480px) {
    .Services{
        padding: 2rem; /* Cambiar el padding a 2rem en pantallas pequeñas */
        text-align: center;
    }
    .service-item {
        width: 100%; /* Cambia el ancho para mostrar un elemento en cada fila en pantallas pequeñas (modo vertical) */
        margin: 1rem 0;
    }
    .service-items{
        margin: 0 0  ;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola fila */
    }
}