.Contact{
    background-color: #fff;
    padding: 7rem 12rem 3rem ; 
}
.Contact h1{
    padding-bottom: 2rem ; 
}

.contacts{
    display: flex; /* Establece el contenedor como un contenedor flexible */
    justify-content: space-around; /* Distribuye los elementos de manera equitativa en la fila */
    align-items: center; 
    margin: 0 -2.3%  ;
}

.cont{
    width: calc(29% ); /* 33.33% de ancho para mostrar 3 elementos en una fila, y 20px de margen entre los elementos */
    padding: 3rem 0 2rem ;
    justify-content: center;
    text-align: center; /* Centra el contenido dentro de cada elemento */
    margin: 1em; /* Ajusta el margen entre los elementos según tus necesidades */
    transition: transform 0.3s ease; /* Transición de 0.5 segundos para un cambio suave durante el efecto hover */

}

.cont:hover{
    transform: scale(1.1); /* Escala la imagen al 110% cuando el mouse pasa sobre ella */
    
}
.cont a{
    text-decoration: none;
    color: inherit; /* Heredar color del texto del contenedor padre */
}
.cont p{
    margin-top: .5rem;
    font-size: 18px;
}



.icon2{
    width: 3rem;
    height:3rem;
}

.email{
    fill: #EA4335; 
}

.lkd{
    fill: #0077B5; 
}

@media screen and (max-width: 480px) {
    .Contact{
        padding: 2rem; /* Cambiar el padding a 2rem en pantallas pequeñas */
        text-align: center;
    }
    .contacts{
        margin: 0 0  ;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola fila */
    }
}