.hero{
    height: calc(110vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.perfil{
    border-radius: 50%;
    width: 10rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    .perfil{
        margin-top: -40%;
    }
}


