
.About {
    background-color: #fff;
    padding: 7rem 9rem;
    
}

.About h1{
    margin-bottom: 1rem;
}
.About h2{
    margin-bottom: 1rem;
}
.About p{
    margin-bottom: 2rem;
}


.SobreMi{
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos de forma equitativa */
    align-items: flex-start; /* Para alinear los elementos en la parte superior */
}

.Bio {
    flex: 0 1 40%; /* Establece el ancho del 60% para dejar espacio para Skills */
}
.Bio h3{
    margin-top: 3rem;
}


.Cv{
    text-decoration: none;    
    display: inline-block;
    border: 0.25em solid #1A1A1A;
    border-radius: 2em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 1em 2.5em;
    text-align: center;
    transition: all 300ms cubic-bezier(.23,1, 0.32,1);
    
}


.Cv:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0,0, 0, 0.5) 0 10px 20px;
    transform: translateY(-2px);
}


.Cv:active{
    box-shadow: none;
    transform: translateY(0);
}

.Skills {
    flex: 0 1 50%; /* Establece el ancho del 30% para Skills */
}
.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-item {
    text-align: center; /* Centra el texto debajo de la imagen */
    margin: 10px; /* Ajusta el margen entre las imágenes según tus necesidades */
    font-size: 1rem;
    font-weight: bold ; /* Esto hará que todos los elementos de texto en el cuerpo del documento aparezcan en negrita */

}
.skill-item img{
    transform-origin: center; /* Define el punto de transformación en el centro de la imagen */
    transition: transform 0.5s ease; /* Transición de 0.5 segundos para un cambio suave durante el efecto hover */

}
.skill-item:hover img{
    transform: scale(1.1); /* Escala la imagen al 110% cuando el mouse pasa sobre ella */
}

.skill {
    width: 100px;
    height: 100px;
    padding: 1rem;
}

.skill-item p {
    margin-top: 5px; /* Ajusta la separación entre la imagen y el texto */
}




@media screen and (max-width: 480px) {
    .About {
        padding: 2rem; /* Cambiar el padding a 2rem en pantallas pequeñas */
    }
    
    .About h1,
    .About h2 {
        text-align: center;
        margin: 1rem;
    }
    
    .SobreMi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}